.login-app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#2b2c49,#b5b9ff);
    width:400px;
    height: 350px;
    border-radius: 12px;
}

.login-heading{
    color: #ffffff;
    font-size: 32px;
    font-family: 'Roboto';
  
}

.in-out-btn{
    background-color: #f8fafc;
    color: #303150;
    padding: 12px 24px;
    font-size: 14px;
    font-family: 'Roboto';
    border-radius: 12px;
    border: none;
}